body {
    background: #70b1e7;
}

.title {
    font-family: courier, arial, helvetica;
    text-align: center;
    padding: 10px;
    border: 3px groove #1d1c5f;
    border-radius: 25px;
    color: #000000;
}

.mybody {
    text-align: center;
    border: 3px groove #1d1c5f;
    border-radius: 25px;
}

.active {
    font-family: courier, arial, helvetica;
    color: #000000;
    text-align: center;
}

hr {
    border: 2px solid #1d1c5f;
}

.probability {
    font-family: courier, arial, helvetica;
    color: #548612;
    text-align: center;
}

.red {
    color: #ef2222;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}